<header class="main-header">
  <nav class="nav-container">

    <div (click)="toggleMenu()" class="burger-menu">
      ☰
    </div>


    <ul [ngClass]="{'open': isMenuOpen}" class="nav-list">
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/orders" routerLinkActive="active">ЗАМОВЛЕННЯ</a>
      </li>
      <li class="nav-item admin-panel">
        <a (click)="handleNavClick()" routerLink="/admin-panel" routerLinkActive="active">ПАНЕЛЬ АДМІНІСТРАТОРА</a>
      </li>
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/equipment" routerLinkActive="active">ОБЛАДНАННЯ</a>
      </li>
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/employees" routerLinkActive="active">ПРАЦІВНИКИ</a>
      </li>
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/materials" routerLinkActive="active">МАТЕРІАЛИ</a>
      </li>
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/reports" routerLinkActive="active">ЗВІТИ</a>
      </li>
      <li class="nav-item">
        <a (click)="handleNavClick()" routerLink="/profile" routerLinkActive="active">МІЙ ПРОФІЛЬ</a>
      </li>
    </ul>
  </nav>
</header>

