/* Головний стиль хедера */
.main-header {
  background-color: black;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Контейнер навігації */
.nav-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Основний список меню */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Стилі для пунктів меню */
.nav-item {
  position: relative;
  flex: 1 1 auto;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 10px;
  display: block;
  text-align: center;
}

.active {
  background-color: #8bc34a;
}


@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    flex: none;
    text-align: center;
    padding: 10px 0;
  }

  .nav-item a {
    padding: 10px 0;
  }
}

/* Бургер-іконка за замовчуванням прихована */
.burger-menu {
  padding: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
  align-items: center;
}

/* При малих екранах */
@media (max-width: 770px) {
  .nav-container {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: black;
    padding: 10px 0;
  }

  .nav-list.open {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}
