<div class="table-container">
  <table class="responsive-table">
    <thead>
    <tr>
      <th>Назва</th>
      <th>Адреса</th>
      <th>Загальна ціна</th>
      <th>Знижка</th>
      <th>Сплачено</th>
      <th>Залишок</th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let item of data" [class.expanded]="item.expanded">
      <td class="name-cell" data-label="Назва:">{{ item.name }}</td>
      <td class="detail-cell" data-label="Адреса:">{{ item.address }}</td>
      <td class="detail-cell" data-label="Загальна ціна:">{{ item.totalPrice }} грн</td>
      <td class="detail-cell" data-label="Знижка:">{{ item.discount }} грн</td>
      <td class="detail-cell" data-label="Сплачено:">{{ item.paidAmount }} грн</td>
      <td class="detail-cell" data-label="Залишок:">{{ item.remainingAmount }} грн</td>
      <td class="action-cell">
        <button (click)="toggleDetails(item)" class="details-btn">
          {{ item.expanded ? 'Приховати' : 'Деталі' }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
