<div class="login-container">
  <div class="login-box">
    <h1>Вхід</h1>
    <p>Залишайтеся на зв’язку зі своїм професійним світом</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <input type="text" formControlName="email" placeholder="Email або телефон" required>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <small class="error">Невірний email</small>
        </div>
      </div>

      <div class="input-group">
        <input type="password" formControlName="password" placeholder="Пароль" required>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('password')?.touched">
          <small class="error">Пароль повинен містити мінімум 6 символів</small>
        </div>
      </div>

      <a href="#" class="forgot-password">Забули пароль?</a>
      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Увійти</button>
    </form>
  </div>

  <footer>
    <p>PersonalIt management © 2025</p>
  </footer>
</div>
