<div class="dialog-container">
  <mat-card class="order-details-card">
    <mat-card-header>
      <mat-card-title>{{ data.order.name }}</mat-card-title>
      <mat-card-subtitle> {{ data.order.address }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Статус:</strong> {{ getStatusName(data.order.orderStatusId) }}</p>
      <p><strong>Загальна ціна:</strong> {{ data.order.totalPrice | currency:'UAH' }}</p>
      <p><strong>Знижка:</strong> {{ data.order.discount | currency:'UAH' }}</p>
      <p><strong>Сплачена сума:</strong> {{ data.order.paidAmount | currency:'UAH' }}</p>
      <p><strong>Залишок до оплати:</strong> {{ data.order.remainingAmount | currency:'UAH' }}</p>
      <p><strong>Працівники:</strong> {{ data.order.employeesName }}</p>
      <p><strong>Обладнання:</strong> {{ data.order.equipmentsName }}</p>
      <p><strong>Матеріали:</strong> {{ data.order.materialsName }}</p>
      <p *ngIf="data.order.expanded !== undefined"><strong>Розгорнуто:</strong> {{ data.order.expanded ? 'Так' : 'Ні' }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="action-group">
      <button (click)="openAddMaterial()" color="primary" mat-raised-button>+ Матеріал</button>
      <button (click)="openAddEmployee()" color="accent" mat-raised-button>+ Працівник</button>
      <button (click)="openAddTransaction()" color="warn" mat-raised-button>+ Оплата</button>
      <button (click)="openAddEquipment()" color="primary" mat-raised-button>+ Обладнання</button>
    </mat-card-actions>

    <mat-card-actions align="end">
      <button (click)="close()" color="primary" mat-button>Закрити</button>
    </mat-card-actions>

  </mat-card>
</div>
