<div (click)="onCancel()" class="modal-overlay">
  <div (click)="$event.stopPropagation()" class="order-box">
    <h1>{{ editingOrder ? 'Редагувати замовлення' : 'Додати нове замовлення' }}</h1>
    <p>Заповніть деталі нового замовлення</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="orderForm">
      <div class="input-group">
        <input formControlName="name" placeholder="Назва" required type="text">
        <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched">
          <small class="error">Назва обов’язкова</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="address" placeholder="Адреса" required type="text">
        <div *ngIf="orderForm.get('address')?.invalid && orderForm.get('address')?.touched">
          <small class="error">Адреса обов’язкова</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="totalPrice" placeholder="Загальна сума" required type="number">
        <div *ngIf="orderForm.get('totalPrice')?.invalid && orderForm.get('totalPrice')?.touched">
          <small class="error">Введіть коректну суму</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="discount" placeholder="Знижка" required type="number">
        <div *ngIf="orderForm.get('discount')?.invalid && orderForm.get('discount')?.touched">
          <small class="error">Введіть коректну знижку</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="paidAmount" placeholder="Сплачена сума" required type="number">
        <div *ngIf="orderForm.get('paidAmount')?.invalid && orderForm.get('paidAmount')?.touched">
          <small class="error">Введіть коректну сплачену суму</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="remainingAmount" placeholder="Залишок" required type="number">
        <div *ngIf="orderForm.get('remainingAmount')?.invalid && orderForm.get('remainingAmount')?.touched">
          <small class="error">Введіть коректний залишок</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="employeesName" placeholder="Імена працівників" required type="text">
        <div *ngIf="orderForm.get('employeesName')?.invalid && orderForm.get('employeesName')?.touched">
          <small class="error">Імена працівників обов’язкові</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="equipmentsName" placeholder="Назва обладнання" required type="text">
        <div *ngIf="orderForm.get('equipmentsName')?.invalid && orderForm.get('equipmentsName')?.touched">
          <small class="error">Назва обладнання обов’язкова</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="materialsName" placeholder="Назва матеріалів" required type="text">
        <div *ngIf="orderForm.get('materialsName')?.invalid && orderForm.get('materialsName')?.touched">
          <small class="error">Назва матеріалів обов’язкова</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="worksName" placeholder="Назва робіт" required type="text">
        <div *ngIf="orderForm.get('worksName')?.invalid && orderForm.get('worksName')?.touched">
          <small class="error">Назва робіт обов’язкова</small>
        </div>
      </div>

      <div class="actions">
        <button (click)="onCancel()" class="cancel-btn" type="button">Скасувати</button>
        <button [disabled]="orderForm.invalid" class="submit-btn"
                type="submit">{{ editingOrder ? 'Зберегти' : 'Додати' }}
        </button>
      </div>
    </form>
  </div>
</div>
