body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f2ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  width: 350px;
  text-align: center;
  margin: auto;
}

.login-box {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .login-box {
    box-shadow: none;
  }
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  appearance: none; /* Прибираємо стандартний вигляд */
  background: white;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn {
  background: #026fbd;
  color: white;
  margin-top: 10px;
}

.signup-btn {
  background: white;
  color: #026fbd;
  border: 1px solid #026fbd;
  margin-top: 10px;
}

.divider {
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.divider span {
  background: white;
  padding: 0 10px;
  color: #666;
}

.forgot-password {
  display: block;
  margin-bottom: 10px;
  color: #026fbd;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

.error-message {
  margin-top: 10px;
  color: red;
}

.error {
  color: red;
  font-size: 12px;
}
