@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Lora', serif, 'Georgia', serif;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* styles.scss */
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.mat-mdc-dialog-container {
  border-radius: 8px;
  overflow: hidden;
}
